html {
    //background: url('../img/bg-gray.jpg')
}

body {
    background: none;
    padding: 20px 0 20px 0;
}

div.main-container {
    margin: 0 auto;
    max-width: 700px;
}

div.center-container {
    margin: 60px 0;
    text-align: center;
}

div.center-container > h1 {
    font-size: 68px;
    line-height: 1;
}

form {
    margin: 40px 0 30px 0;
}

div.center-container > div > h2 {
    margin: 50px 0 30px 0;
}

label.url-label {
    font-size: 21px;
}

.submit-btn{
    margin-top: 30px;
    font-size: 21px;
    padding: 14px 24px

}

h3 a:visited, h3 a:link {
    color: #5BB75B;
    text-decoration: none;
}

.green {
    color: #5BB75B;
}

a.origin:visited, a.origin:link {
    text-decoration: none;
}

h2 a.redirect_url:visited, h2 a.redirect_url:link, h2 a.redirect_url:hover {

    color: #5BB75B;
    text-decoration: none;
}

.origin {
    color: #6b6b6b;
}



.error {
    color: #DA4F49;
}
