<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Ken.ly </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kenny Liau">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="main-container">

        <div class="main-title">
            <h3> <a href="/">  Ken.ly  </a> </h3>
        </div>

        <hr>

        <div class="center-container">

            <h1> Sorry, the page you are looking for doesn't exist. </h1>
        </div>

        <hr>

        <div class="footer">
            <p>© Kenny Liau 2012</p>
        </div>

    </div>

  </body>


</html>






